/* tags */

body {
    background-color:black;
    color:white;
    font-family:sans-serif;
}

h1 {
    font-size:4em;
    color: #aaa;
    text-align: center;
}

h2 {
    font-size:3em;
    color: #777;
}

h4 {
    font-size: 2em;
}

p {
    font-size:1em;
}

code {
    color: black;
    font-family: monospace;
    background-color: white;
}

form, option, select, label {
    font-size: 1em;
    color: black;
}

input {
    margin: 5px;
}

ol {
    text-align: left;
}

table, th, td {
    border:1px solid black;
    border-collapse:collapse
}


/*
th {
    text-align:right;
}
*/

/* classes */

.hidden {display: none;}

.visible {display: block;}

.tooltip {
    padding: 8px;
    /*margin: 20px;*/
    border-radius: 10px;
    position:absolute;
    background-color: #555;
    color: #FF9;
    font-size: 1em;
    text-align: center;
}
/*
h4.tooltip {
    font-size: 14em;
    text-align: center;
}

p.tooltip {
    font-size: 10em;
    text-align: left;
}*/

div.feature-box {
    margin: 100px;
    padding: 30px;
    border-radius: 10px;
}

table.times {
    width:98%;
    margin: 1%;
    text-align: center;
    }

table.times th {
    background-color: #555;
    border: 1px solid #555;
    color: #EEE;
    padding: 3px;
    vertical-align: top;
    }

table.times tr:nth-child(2n) {
    background-color: #EEE;
    color: #555;
    }

table.times tr:nth-child(2n +1) {
    background-color: #CCC;
    color: #222;
    }

.feature-box {
    background-color: #EEE;
    color: #333;
    font-size: 1em;
    text-align: center;
}

.header {
    }

/* IDs */

#timer_submit {
    background-color: #555;
    color: #EEE;
    font-size: 2.5em;
    margin: 10px;
    border-radius: 5px;
    }


/*#poem {
    text-align: center;
    font-size: 14em;
}*/
