<?php

define('DB_TYPE',    'MongoDB');

define('DB_HOST',    'db_host');

define('DB_USER',    'db_user_name');

define('DB_PASS',    'db_password');

define('DB_NAME',    'db_name');

define('VERSION',    'Billing_system/v0.1');

define('TITLE',      'Billing system');

define('BASE_DIR',   dirname(__FILE__));

define('BASE_URL',   'http://example.com/');

?>
